.align-middle {
  width: 90%;
  max-width: 750px;
  margin: 10px auto;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ion-icon {
  width: 32px;
  height: 32px;
}